<!--Header -->
<ion-header-bar class="bar-assertive">

<h2 class="title">Liste films</h2>
<button class="button button-icon ion-navicon"></button>
</ion-header-bar>
     
<!--Subheader-->

<div class="bar bar-subheader item-input-inset bar-dark">
<label class="item-input-wrapper"> 
<i class="icon ion-search placeholder-icon"> </i>

<input type="search" ng-model="query" placeholder="Taper le nom du film a recherche">

</label>
</div>

<!--Content of subheader-->
  <ion-content class="has-subheader">
 <ion-refresher on-refresh="doRefresh()">
  </ion-refresher>
  <ion-list>
   <ion-item ng-repeat='item in films|filter:query'
  class="item-thumbnail-left item-text-wrap item-icon-right" href="#/tab/list/{{item.nom}}">
<img ng-src="img/{{item.nom}}_tn.jpg"
        alt="{{ item.nom }} Photo">
      <h2>{{item.title}}</h2>
      <h3>{{item.realisateur}}</h3>
<p>{{item.synopsis|limitTo:50}}
{{item.synopsis.length >50 ?'&hellip;' : ''}}
</p>

<button class="button button-clear icon ion-star button-assertive" ng-click="toggleStar(item)" ng-show="item.star"></button>

<ion-option-button class="button-dark" ng-click="toggleStar(item)">
<i class="icon ion-star"></i>

 </ion-option-button>
</ion-item>
 </ion-list>
  </ion-content>

